body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-left: 2.5%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 0.25rem;
    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}

.logo {
    vertical-align: middle;
    height: 3rem;
}

.nav-search {
    display: table-cell;
}

.nav-search input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.313rem;
    border: 1px solid #ccc;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}

.btn-search {
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}

.btn-search:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.container {
    display: flex;
}

aside {
    padding: 1.5rem;
}

aside h2 {
    text-decoration: underline;
}

aside ul{
    text-align: center;
    list-style: none;
    font-weight: bold;
}

aside ul li {
    margin-bottom: .75rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}

aside ul li:hover {
    background-color: black;
}

aside ul li:hover a {
    color: white;
}

aside ul li a {
    text-decoration: none;
    color: black;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

article {
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

article ul {
    list-style-type: none;
}

article ul li img {
    height: 7.5rem;
    border: transparent;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

article ul li img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    -o-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

article ul button {
    font-size: .75rem;
    border-radius: 2rem;
    background-color: transparent;
    color: #333;
    border: 2px solid black;
    padding: 0.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

article ul button a {
    text-decoration: none;
    color: black;
}

article ul button:hover{
    background-color: black;
    color: white;
}

article ul button:hover a {
    color: white;
}

.bi-brightness-high-fill{
    color: yellow;
}

.bi-send-check{
    margin: 1.5rem 1.5rem;
    font-size: 1.25rem;
    background-color: transparent;
}

.contact-form{
    margin-top: 2rem;
    margin-left: 30%;
    padding: 2rem;
    display: inline-block;
    font-size: 2rem;
}

.contact-form label {
    font-weight: bold;
}

.contact-form .input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.btn-form{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: .25rem;
    border-radius: .25rem;
}

.btn-form:hover{
    text-decoration: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border-radius: .25rem;
}

.span-404{
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 25%;
}

.success{
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 25%;
}